[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
python-dotenv = "*"
drf-nested-routers = "*"
django-filter = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest = "*"
pytest-django = "*"
model-bakery = "*"
pytest-watch = "*"

[requires]
python_version = "3.13"
